* {
padding:0;
margin:0;
list-style:none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0c122c;
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}

section {
  height: 100%;
}

section ul {
    position: fixed;
    padding-left: 25%;
    bottom: 50%;
    display: flex;
    justify-content:center;
    align-items: center;


}

section li {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}


section li #box_one {
  background-color: #1e2c69;
  /*
  border-left: 30px;
  border-right: 70px;
  border-top: 40px;
  border-bottom: 40px;
  border-color: #1e2c69;
  border-style: solid;
  */
}

section li #box_two {
  background-color: #1e2c69;
  /*
  border-width: 30px;
  border-bottom: 40px;
  border-color: #1e2c69;
  border-style: solid;
  */
}

.one {
  padding: 40px 20px 30px 40px;
  width: 15vw;
  height: auto;
  border-radius: 10px 70px 10px 10px;
  margin-right: 20px;
}

.two {
  padding: 30px;
  width: 30vw;
  height: auto;
  border-radius: 10px;
  position: relative;
  top: 17px;
}

p#text {
  color: white;
}

.info {
  column-count: 2;
  justify-content: center;
}

p#info_1 {
  text-align: left;
  color: white;

}

p#info_2 {
  text-align: right;
  color: white;
}

#logo {
    width: 120px;
}

#btn_box {
    margin-top: 20px;
    display: inline-block;
    column-count: 3;
    justify-content: space-between;

}

.btn {
  display: flex;
  justify-content:center;
  background-color: #0c122c;
  padding: 10px;
  height: 20px;
  border-radius: 10px;

}

.btn #icon {
  max-width: 20px;
  max-height: 20px;
  object-fit: contain;
}

.balloon {
  width: 110px;
  background-color: white;
  padding: 20px 20px 20px 20px;

  border-radius: 10px 10px 0px 10px;

  column-count: 2;
  column-rule-style: none;
  column-gap: 1px;
  display: inline-block;

  position: relative;
  left: 1000px;
  top: 180px;


}

.balloon:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 100%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-top-color: white;
  border-bottom: 0;
	border-right: 0;
	margin-left: -22px;
	margin-bottom: -20px;
}


.two .storage {

  align-items: center;
  width: 100%;
  height: 3vh;
  background-color: #0c122c;
  margin: 10px 0px;
  border-radius: 20px;
  border-style: solid;
  border-color: #0c122c;
  border-width: 5px 5px 5px 5px;
}

.two .storage_2 {

  align-items: center;
  width: 80%;
  height: 3vh;
  background-color: pink;
  margin: 10px 0px;
  border-radius: 20px;
  border-style: solid;
  border-color: #0c122c;
  border-width: 5px 5px 5px 5px;
  position: relative;
  bottom: 15px;
  right: 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  padding-left: 40%;

}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
